html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.6px;
    background-color: #F1F0EA;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.App {
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin-top: 50px; 
    padding: 0;
    position: absolute;
    top: 0;
    right: 30px; 
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    
}

a:hover {
    border-bottom: 2px solid black; 
}


h2 {
    margin-top: 20px;
}

#name{
    text-align: center;
    margin-top: 50px;
}

p {
    margin: 10px 0;
}

#page2{
    text-align: center;
    margin-top: 100px;
}